* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background: #181818;
    padding: 24px 0;
    }
header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}
header nav ul li:first-of-type {
    margin-right: 24px;
}
header nav ul li:last-of-type {
    margin-left: 31px;
}
header nav a {
    color: #FFFFFF;
    text-decoration: none;
    font: 400 15px/20px'Poppins', sans-serif;
}
header nav ul li:first-of-type a {
    font-size: 13px;
}
header nav li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
     color: #000000;
    padding: 11px 20px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    background-image: url("../images/main-background.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
}
.main article {
    max-width: 580px;
}
.main article h3{
    margin-bottom: 1px;
    font: 400 14px/20px'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;

}
.main article h1{
    margin-bottom: 18px;
    font: 400 54px/59px'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;

}
.main article p{
    font: 400 14px/20px'Poppins', sans-serif;
    text-align: center;
    color: #C0C0C0;
}

.sunset {
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 62px;
}
.monstera {
    background-image: url("../images/monstera.jpg");
}
.hymalayas {
    background-image: url("../images/himalayas.jpg");
}
.sunset article {
    max-width: 300px;
}
.sunset article h4 {
    font: 400 14px/20px 'Poppins', sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset article p {
    font: 400 14px/20px 'Poppins', sans-serif;
    font-style: normal;
    color: #C0C0C0;
}
.clients {
    padding: 113px 0 140px;
    background-color: black;
}
.clients .container {
    max-width: 1168px;
    margin: auto;
}
.clients h2{
    font: 400 40px/42px 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.clients h3{
    font: 400 24px/30px 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
    margin-bottom: 82px;
    color: #C0C0C0;
}
.clients .flex_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clients .flex_block a {
    display: inline-block;
    margin: 0 10px;
    max-width: 128px;
}
.clients .flex_block a img {
    display: block;
    width: 100%;
}
.help {
    display: flex;
    text-align: center;
    justify-content: center;
    background: #000000;
    padding: 113px 434px 108px 435px;
}
.item {
    display: inline-flex;
    margin: auto;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font: 400 16px/20px 'Poppins', sans-serif;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    width: 154px;
    height: 42px;
}
.item::before {
    content: "";
    width: 32px;
    height: 32px;
    background: #181818;
    border-radius: 50%;
    margin: 5px 6px 5px 4px;
}
.help article h2 {
    max-width: 571px;
    font: 400 40px/42px 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.help article h3 {
    font: 400 24px/30px 'Poppins', sans-serif;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
footer {
    background: #000000;
    padding-top: 100px;
}
footer .container {
    max-width: 1168px;
    margin: auto;
}
.first {
    display: flex;
    justify-content: space-between;
    padding-bottom: 46px;
    border-bottom: 2px solid #FFFFFF;
}
.content {
    display: flex;
    margin-right: 106px;
 }
.logo p, .subscribe p   {
    font: 400 13px/20px 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 20px;
    color: #C0C0C0;
}
.logo a {
    background: transparent;
}
.business li,.pages li {
    margin-bottom: 10px;
}
.business li:not(:nth-child(1)) a,
.pages li:not(:nth-child(1)) a {
    font: 400 14px/20px 'Poppins', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
}
.business li:nth-child(1),
.pages li:nth-child(1), .second-footer h4 {
    font: 400 14px/20px 'Poppins', sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #C0C0C0;
}
.business {
    margin-right: 55px;
}
.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
}
.subscribe h4 {
    margin-top: 36px;
}
.subscribe p {
    padding-bottom: 38px;
}
.form {
    display: flex;
    width: 458px;
    height: 52px;
    align-items: center;
    text-align: center;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}
.form input {
    visibility: hidden;
    }
.form input:focus {
    outline: none;
}
form button {
    width: 63px;
    height: 30px;
    background: #000000;
    border-radius: 11px;
    border: none;
    margin-left: auto;
    margin-right: 6px;
}
.third {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0 100px;
}
.third p {
    justify-content: flex-start;
    font: 400 13px/1em 'Poppins', sans-serif;
    font-style: normal;
    color: #C0C0C0;
}
.third a {
    margin-left: 26px;
}
